<main class="ui centered page grid">
  <div class="row">
    <a href="/"><%= image_tag("looped_logo.png", :id => "logo", :alt => "Looped") %></a>
  </div>
  <div class="row">
    <h3>Log in to share city tips with friends</h3>
  </div>
  <div class="row">
    <%= link_to(code_uri, :class => 'ui facebook button') do %>
      <i style="margin-right:10px" class="fa fa-facebook"></i>Log In with Facebook
    <% end %>
  </div>
</main>