<main class="ui centered page grid">
  <div class="row">
    <%= image_tag("looped_logo.png", :id => "logo", :alt => "Looped") %>
  </div>
  <div class="row">
    <%= link_to(code_uri, :class => 'ui facebook button') do %>
      <i style="margin-right:10px" class="fa fa-facebook"></i>Log In with Facebook
    <% end %>
  </div>
  <div class="row">
    <h3><a href="/">Contine as guest</a></h3>
  </div>
</main>