<div class="ui secondary pointing menu">
  <a class="ui item">
    Add Tip
  </a>
  <div class="right menu">
    <a class="ui item">
      <img id="menu-image" src="<%= @user.picture %>">
    </a>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
<main class="ui centered page grid">
  <div class="row">
    <a href="/"><%= image_tag("looped_logo.png", :id => "logo", :alt => "Looped") %></a>
  </div>
  <div id="dropdown-row" class="row"></div>



</main>

<!-- City Dropdown Template -->
<script type="text/template" data-id="city-dropdown-template">
  <div class="ten wide column">
    <div data-id="city-dropdown" class="ui fluid search selection dropdown">
      <input type="hidden" name="country">
        <i class="dropdown icon"></i>
          <div class="default text">Select City</div>
          <div data-attr="city-dropdown" class="menu">
            <%% _.each(cities, function(city) { %>
              <div class="item" data-value="<%%= city.id %>"><%%= city.city %>, <%%= city.country %></div>
            <%% }); %>
          </div>
      </div>  
  </div>
</script>

<!-- Tip Results List Item Template -->
<script type="text/template" data-id="tip-result-template">
  <div class="ten wide column">
    <div class="ui items">
      <div class="item">
        <a class="ui tiny image">
          <img src="<%%= user.picture %>">
        </a>
        <div class="content">
          <div class="description">
            <p><%%= tip.content %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
