#logo {
  margin-top: 30px;
  width: 300px;
}

#menu-image {
  width: 30px;
  height: 30px;
}

.ui.tiny.image {
  width: 50px;
  height: 50px;
}

.hidden-field {
  display:none;
}

#tip-avatar {
  float:left;
  text-align:center;
  margin-right:20px;
  width: 70px;
}

#tip-user-name {
  font-size:13px;
  margin-top:10px;
}

.ui.list {
  font-size: 1.2em;
}

.ui.search {
  font-size: 1.2em;
}

.ui.form textarea {
  font-size: 1.2em;
}

.ui.button {
  font-size: 1.2rem;
}

.ui.menu .item {
  font-size: 1.2rem;
}

[data-id="city-title"] {
  font-size:11px;
  text-transform: uppercase;
  font-weight: bold;
}

[data-id="category-title"] {
  text-transform: none;
  font-weight: normal;
  margin-left: 5px;
}

.extra.rating-content {
  float:right;
  vertical-align:center;
}


body {
  background-color: #fefdf3;
}

a {
  color: rgba(0, 0, 0, 0.6);
}

a:hover {
  color: rgba(0, 0, 0, 0.8);
}

/*.tip.item {
  height:80px;
}*/