#logo {
  margin-top: 30px;
  width: 250px;
}

#menu-image {
  width: 20px;
  height: 20px;
}

.ui.tiny.image {
  width: 50px;
  height: 50px;
}

.hidden-field {
  display:none;
}

/*body {
  color: #636;
  background-color: #fefdf3;
}

a {
  color: #6a00cc;
}*/

/*.tip.item {
  height:80px;
}*/