<!DOCTYPE html>
<html>
<head>
  <title>Looped</title>

  <%= favicon_link_tag 'looped_favicon.png' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= yield %>

</body>
</html>
